@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;700;800;900&family=Poppins:wght@100;300;400;500;600;700&family=Public+Sans:wght@300;400;700&family=Roboto:wght@300;400;500;700&display=swap");

/* css reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
}

body {
  background-color: #000;
  min-height: 100vh;
}

/* header begins */

header {
  animation: fade-out linear;
  animation-timeline: view();
  animation-range: exit;
}

@keyframes fade-out {
  to {
    opacity: 0;
  }
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #333;
  color: #fff;
}

.navbar img {
  margin-right: 10px;
}

nav > a {
  display: block;
  margin-top: 20px;
  text-decoration: none;
  color: whitesmoke;
  font-size: 20px;
}
.dev {
  max-width: 100%;
  height: auto;
}

div > a {
  text-decoration: none;
  margin-left: 20px;
  color: #fff;
  font-size: 20px;
}
.navbar button:first-child {
  padding: 6px 9px;
  background-color: #fff;
  border-radius: 5px;
  font-weight: 600;
  border: none;
}

/* hero section  */
.hero-sec {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 30px;
  background-color: #f4f4f4;
}

.hero-sec button {
  padding: 6px 9px;
  margin-top: 20px;
  background-color: #fff;
  border-radius: 5px;
  font-weight: 600;
  border: none;
}

.hero-sec h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.hero-sec p {
  max-width: 500px;
}

.ten {
  text-align: center;
  font-size: 1.5rem;
  margin: 30px 0;
  color: #fff;
}

/* main / article section
 */

main,
article {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  margin-left: 30px;
}

.flip-card {
  position: relative;
  aspect-ratio: 15/9;
}

.front-side,
.back-side {
  position: absolute;
  width: 90%;
  height: 90%;
  border-radius: 15px;
  box-shadow: 4px 12px 48px 6px rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  transition: all 1s ease-in-out;
  backface-visibility: hidden;
  font-weight: bold;
  text-align: center;
}
.front-side {
  background-color: white;
  color: gray;
  transform: rotateX(0deg);
}
.back-side {
  background: hsl(215.9, 20%, 50%);
  color: whitesmoke;
  transform: rotateX(-180deg);
  text-align: center;
  font-size: 15px;
}

.flip-card:hover .front-side {
  transform: rotateX(180deg);
}
.flip-card:hover .back-side {
  transform: rotateX(0deg);
}
section > p {
  text-align: center;
  margin: 25px;
  font-size: 30px;
}

/* footer begins */

footer {
  display: flex;
  justify-content: space-around;
  padding: 40px 30px;
  align-items: center;
  color: #000;
  background-color: #f4f4f4;
  margin-top: 50px;
}

.white p {
  font-size: 15px;
  margin: 0;
  text-align: left;
  cursor: pointer;
}
.white p:first-child {
  font-weight: bold;
  font-size: 18px;
  margin-top: 4px;
}

/* hamburger toggle styling */

.hamburger {
  cursor: pointer;
  position: relative;
  display: block;
  width: 35px;
  background: none;
  height: 35px;
  outline: none;
  appearance: none;
  border: none;
}

.hamburger .bar,
.hamburger:after,
.hamburger:before {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  background-color: #000;
  margin: 6px 0px;
  transition: 0.4s;
}

.hamburger.is-active:before {
  transform: rotate(-45deg) translate(-8px, 5px);
}
.hamburger.is-active:after {
  transform: rotate(45deg) translate(-10px, -8px);
}

.hamburger.is-active .bar {
  opacity: 0;
}

.mobile-nav {
  display: inline-block;
  display: block;
  background-color: #000;
  position: absolute;
  right: 100%;
  margin: 0 auto;
  width: 47%;
  height: 27vh;
  z-index: 1;
  transition: all 0.3s ease-in-out;
}
.mobile-nav a {
  display: block;
  padding-top: 25px;
  margin-top: 10px;
  text-align: center;
  color: #fff;
  font-size: 25px;
  font-weight: 700;
  transition: all 0.3s ease-in-out;
}
.mobile-nav.is-active {
  left: 0;
  transition: 0.4s;
}
.mobile-nav a:hover {
  background-color: #fff;
  text-decoration: underline;
}

@media screen and (max-width: 500px) {
  main,
  article {
    grid-template-columns: 1fr;
  }
  div > a {
    display: none;
  }
  .navbar {
    margin: 0;
    justify-content: space-between;
    padding-left: 20px;
  }
  .hero-sec h1 {
    font-size: 2rem;
    margin-bottom: 0;
  }
  .hero-sec {
    flex-wrap: wrap;
  }
  .dev {
    margin-top: 40px;
    width: 90%;
  }
  .tricks {
    display: none;
  }
  footer {
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px 10px;
  }
  .white {
    margin: 20px;
  }
}
@media screen and (max-width: 1200px) {
  footer {
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 500px) {
  .hamburger {
    display: none;
  }

  .mobile-nav {
    display: none;
  }
}
